<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3"></div>
    <div class="col-lg-8 col-md-7 col-sm-6">
        <h1> My Previous Posts </h1>
        <p class="lead"> I too love studying at Marymount JC </p>
    </div>
    <div class="col-lg-2 col-md-2 cil-sm-3"></div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-3"></div>
    <div class="col-lg-8 col-md-7 cil-sm-6">
        <h2>Posts</h2>
        <hr></hr>
        $partial("templates/post-list.html")$
    </div>
</div>
